.env

# 대용량 파일 및 폴더 제외
daycon/security_log_train.csv
daycon/security_log_test.csv
yolo/mask_images/
yolo/masked_man/
yolo/labels
yolo/mask_yolo_dataset/images
yolo/mask_yolo_dataset/labels

# 파이썬 캐시 파일 및 폴더 제외
__pycache__/
*.pyc

# 학습된 모델 가중치 파일 제외
*.pt
*.pth
*.tar
Pytorch_Retinaface/weights
yolo/weights